<div class="estilos container py-2">
    <div class="row">
        <div class="col-8">
            <img src="assets/images/pagina-404-white.jpg" width="100%" class="rounded mx-auto d-block" alt="Responsive image">
        </div>
        <div class="col-4 my-4">         
            <ul class="list-group">
                <h5 class="text-center">Prueba los siguientes enlaces</h5>
                <li class="list-group-item"><a [routerLink]="['/clientes']" >Clientes</a></li>
                <li class="list-group-item"><a [routerLink]="['/clientes/form']" >Registrar cliente</a></li>
              </ul>
        </div>
    </div>
</div>